@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu+Mono&family=Vujahday+Script&display=swap");

:root {
  font-family: "Titillium Web", sans-serif;
}

body {
  @apply bg-white text-black;
  background-color: #f8f4f4;
}

h1 {
  font-family: "Vujahday Script", cursive;
}
