@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Vujahday+Script&display=swap");

:root {
  font-family: "Titillium Web", sans-serif;
}

body {
  @apply bg-white text-black;
  @apply h-full;
  /* neutral-100 */
  background-color: #f5f5f5;
}

h1 {
  font-family: "Vujahday Script", cursive;
}

/* For ./components/HoverIcon.tsx  */
.hover-icon svg {
  transition: opacity 0.3s ease;
}

.hover-icon .fill,
.hover-icon:hover .line {
  opacity: 0;
}

.hover-icon:hover .fill {
  opacity: 1;
}

.home-image-banner {
  background: url("../../public/home-background-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
